
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>커뮤니티 게시판</title>
</head>
<body>
	<div layout:fragment="content">	
	    <div class="container-lg d-flex flex-column noti-wrap">
	    	<div class="board-list-header">
            	<p class="board-list-title fw-bold" style="font-size:32px; margin-top:100px; text-align:left;">커뮤니티</p>
            </div>
            <div class="search">
	            <form class="d-flex" role="search" th:action="@{/board/list}" method="get">
					<input name="searchQuery" class="form-control me-2" type="search" placeholder="검색어 입력" aria-label="Search">
					<button class="btn btn-outline-success" type="submit" style="width: 100px;">검색</button>
				</form>
			</div>
	        <table class="board-table">
	            <thead>
	                <tr style="color:#fff; background:#274475;">
	                
	                    <th class= "rounded-start">NO.</th>
	                    <th>제목</th>
	                    <th class="rounded-end">작성자</th>
	                </tr>
	            </thead>
	            <tbody>
	                <th:block  th:each="board, status: ${boards.getContent()}">	
	                <tr>
	                    <td>[[${board.id}]]</td>
	                    <td><a th:href="'/board/' +${board.id}">[[${board.boardTitle}]]</a></td>
	                    <td>[[${board.userNm}]]</td>
	                </tr>
	                </th:block>
	            </tbody>
	        </table>
	        <div class="write-post">
	            <div><a href="/board/new">글쓰기</a></div> 
	        </div>
	        <div class="paging">
	           <nav
			th:with="start=${(boards.number/maxPage)*maxPage + 1}
			,end=(${(boards.totalPages == 0) ? 1 : (start + (maxPage - 1) < boards.totalPages ? start + (maxPage - 1) : boards.totalPages)})"
			aria-label="Page navigation example">
			<ul class="pagination d-flex justify-content-center">
				<li class="page-item" th:classappend="${boards.first}?'disabled'">
					<a th:href="@{'/board/list' + '?searchQuery=' + ${boardSearchDto.searchQuery} + '&page=' + ${boards.number-1}}" class="page-link">
						<span>이전</span>
					</a>
				</li>
				<li class="page-item"
					th:each="page: ${#numbers.sequence(start, end)}"
					th:classappend="${boards.number eq page-1}?'active':''">
					<a class="page-link" th:inline="text"
					th:href="@{'/board/list' +'?searchQuery=' + ${boardSearchDto.searchQuery} + '&page=' + ${page-1}}">[[${page}]]</a>
				</li>
				<li class="page-item" th:classappend="${boards.last}?'disabled'">
					<a class="page-link"
					th:href="@{'/board/list' +'?searchQuery=' + ${boardSearchDto.searchQuery} + '&page=' + ${boards.number+1}}">다음</a>
				</li>
			</ul>
			</nav>
			
       	  </div>

	    </div>
    </div>
</body>
</html>
