<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar fixed-top  navbar-sidebar">
			<!-- <nav class="navbar navbar-dark bg-white fixed-top  navbar-sidebar"> -->
			<div class="container-fluid  ">
				<a class="navbar-brand " href="#"></a>
				<button class="navbar-btn" type="button" data-bs-toggle="offcanvas"
					data-bs-target="#offcanvasDarkNavbar"
					aria-controls="offcanvasDarkNavbar">
					<i class="fa-solid fa-bars fa-xl"></i>
				</button>
				<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1"
					id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
					<div class="offcanvas-header justify-content-end ">
						<button type="button" class="bg-dark"  style="border:none;"
							data-bs-dismiss="offcanvas">
							<i class="fa-solid fa-x" style="color:white; "></i>
						</button>	
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav ">
							<li>
								<div class="side-profile">
									<div class="nav-item" style="height: 180px">
										<div class="box" style="background: #BDBDBD;">
											<img class="profile" src="/images/logo.png">
										</div>
									</div>
									<div class="side-name">
										<a>디그다님<br>오늘 하루도 열일하세요. : )
										</a>
									</div>
								</div>
								<div class="side-logout">
									<a href="#">로그아웃</a>
								</div>
							</li>
							<li>
								<ul class="profile-menu">
									<li class="nav-item"><a class="nav-link"
										href="/member/mypage">마이페이지</a></li>
									<li class="nav-item" sec:authorize="isAuthenticated()"><a
										class="nav-link" href="/shop/info">공지사항</a></li>
									<li class="nav-item"><a class="nav-link"
										href="/work/commute">출퇴근기록</a></li>
									<li class="nav-item"><a class="nav-link"
										href="/board/list">커뮤니티</a></li>
									<li class="nav-item"><a class="nav-link" href="/shop/log">급여일지
									</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="bottom-image">
						<a href="https://github.com/eunbiro/tomorrow"> <img alt=""
							src="/images/gitimage.png">
						</a>
					</div>
				</div>
			</div>
		</nav>
	</div>

</body>
</html>