@charset "UTF-8";

html {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-align: center;
}

.content {
	margin: 50px 200px 100px 200px;
}



/*======================매장메뉴CSS======================*/
.noti-wrap > div {
	
	width: 35rem;
}

.noti-title {
	
}

.profile-img {
	
	width: 2rem;
	height: 2rem;
	padding: 0;
}

.notice {
	
	border: none;
	border-radius: 5px;
	background-color: #F1F1F1;
	width: 35rem;
}

.notice-ipt {
	
	background-color: #F1F1F1;
	border: none;
}

.notice-icon {
	
}