@charset "UTF-8";

@font-face {
	font-family: 'SEBANG_Gothic_Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-align: center;
}

.content {
	width: 60%;
	margin: 0 auto;
}

/*======================매장메뉴CSS======================*/


/*======================로그인CSS======================*/
.login-logo {
	margin: 0 auto;
	text-align: center;
}

.login-logo img {
	margin: 30px 0;
	width: 20%;
}

.login-label-input {
	margin: 0 auto;
	width: 350px;
	text-align: center;
}

.login-label-input>label {
	font-size: 1.2em;
	margin-bottom: 10px;
	font-weight: 900;
	text-align: left;
}

.login-label-input>input {
	box-shadow: 0 4px 4px -4px black;
	border-radius: 4px;
	width: 350px;
	line-height: 50px;
	padding: 0 15px;
}

.login-label-input>input:nth-of-type(1), input:nth-of-type(2) {
	margin-bottom: 25px;
}

.login-label-input>label {
	font-weight: bold;
	font-size: 1.2em;
}

.login-label-input>label:nth-of-type(1) {
	margin-right: 280px;
}

.login-label-input>label:nth-of-type(2) {
	margin-right: 260px;
}

.login-label-input>label:nth-of-type(3) {
	margin-right: 200px;
}

.login-label-input>input:nth-of-type(1), input:nth-of-type(2) {
	border: 3px solid gray;
}

input[type="checkbox"] {
	zoom: 1.5;
	margin-right: 7px;
	vertical-align: middle;
	box-shadow: inset 3px 3px 5px -3px black;
}

.login_btn {
	width: 100%;
	height: 55px;
	font-weight: 900;
	font-size: 1.5em;
	border-radius: 8px;
	background: black;
	color: white;
	margin-bottom: 7px;
}

.join_btn {
	border: 1px solid #13223D;
	margin: 7px 0 7px 0;
	width: 100%;
	height: 40px;
	font-weight: 900;
	font-size: 1.2em;
	border-radius: 8px;
	background: #13223D;
	color: white;
}

.login_word {
	font-size: 1.4em;
	color: gray;
	font-weight: bold;
}

.kakao_btn {
	margin-bottom: 10px;
}

.login-total {
	transform: translate(0%, 2%);
}

/*======================회원가입CSS======================*/
.joinBody {
	background-color: black;
}

.join-input {
	align-items: center;
	text-align: center;
	border-radius: 10px;
	background-color: white;
	margin: 0 auto;
	align-items: center;
	width: 600px;
}

.join-input-top {
	transform: translate(0%, 28%);
}

.join_input_info {
	transform: translate(0%, 5%);
	width: 400px;
	display: inline-block;
}

.join_input_info>input {
	box-shadow: 0 4px 4px -4px black;
	line-height: 40px;
	padding: 0 15px;
	border: 3px solid gray;
	border-radius: 4px;
	padding: 0px 15px;
	width: 100%;
	margin: 10px 0 10px 0;
}

.join_input_info>label {
	margin-bottom: -7px;
	float: left;
	font-size: 1.15em;
	font-weight: 800;
}

.join_input_info>p {
	font-weight: 600;
	font-size: 1.1em;
}

.join_input_info>p:nth-of-type(1), p:nth-of-type(2), p:nth-of-type(4), p:nth-of-type(5), p:nth-of-type(6) {
	margin-bottom: -3px;
}

.join_input_info>p:nth-of-type(3) {
	margin-bottom: 2px;
}

.join_word {
	margin: 50px 0 10px 0;
	font-weight: bold;
	font-size: 1.6em;
}

.join_new {
	border: 1px solid #13223D;
	margin: 25px 0 100px 0;
	width: 100%;
	line-height: 50px;
	height: 55px;
	font-weight: 700;
	font-size: 1.5em;
	border-radius: 8px;
	background: #13223D;
	color: white;
}

.img_hover:hover {
	cursor: pointer;
}

/*======================아이디/비번찾기CSS======================*/
.find_total {
	transform:translate(0%, 11%);
}

.find_info_page {
	width: 800px;
}

.find_form > p {
	margin : 30px 0 30px 0;
	font-size: 1.2em;
	font-weight: bold;
	color: gray;
}

.buttons {
	border-bottom: 2px solid black;
}

.buttons a:hover {
	background-color: #13223D;
}

.input_section {
	display: flex;
	align-items: center;
}

.input_section_one {
	margin: 30px 0 30px 0;
}

.input_section_two {
	margin: 30px 0 70px 0;
}

.input_section_one input , .input_section_two input {
	box-shadow: 0 4px 4px -4px black;
	border: 3px solid gray;
}

.input_section p {
	margin: 0 auto;
	color: gray;
	font-size: 1.3em;
	font-weight: bold;
	width : 15%;
}

.input_section input {
	padding: 20px 15px;
	width: 85%;
}

.buttons a {
	padding: 20px 142px;
	font-size: 1.1em;
	font-weight: bold;
	color: black;
}

.under_buttons {
	justify-content: space-between;
	display: flex;
	text-align: center;
	align-items: center;
}

.under_buttons  a {
	text-decoration: none;
	color : black;
	font-weight: bold;
}

.under_buttons > div:nth-of-type(1) {
	width: calc(100% - 85%);
}

.under_buttons > div:nth-of-type(2) {
	width: calc(100% - 99%);
}

.under_buttons > div:nth-of-type(3) {
	width: calc(100% - 85%);
}

.under_buttons > div:nth-of-type(4) {
	width: calc(100% - 31%);
}

.under_buttons > div:nth-of-type(4) > button {
	border-radius: 5px;
	font-size: 1em;
	font-weight:bold;
	color: white;
	background-color: black;
	padding: 4px 45px;
	float: right;
}
/*======================비밀번호 수정 CSS======================*/
.result_total {
	transform:translate(0%, 5%);
}

.find_info_page {
	width: 800px;
}

.result_form > p {
	margin : 30px 0 30px 0;
	font-size: 1.4em;
	font-weight: bolder;
	display: flex;
	text-align:center;
	justify-content: center;
	border-bottom: 3px solid #5d6b72;
	padding-bottom: 15px;
}

.buttons {
	border-bottom: 2px solid black;
}

.buttons a:hover {
	background-color: #13223D;
}

.result_section {
	display: flex;
	align-items: center;
}

.result_section_one input, .result_section_two input {
	box-shadow: 0 4px 4px -4px black;
	border: 3px solid gray;
}

result_section_id {
	width: 15%;
	float: left;
}

.found_id {
	width: 85%;
}

.result_section_one {
	margin: 30px 0 30px 0;
}

.result_section_two {
	margin: 30px 0 70px 0;
}

.result_section p {
	margin: 0 auto;
	color: gray;
	font-size: 1.3em;
	font-weight: bold;
	width : 15%;
}

.result_section input {
	padding: 20px 15px;
	width: 85%;
}

.buttons a {
	padding: 20px 142px;
	font-size: 1.1em;
	font-weight: bold;
	color: black;
}

.modify_buttons {
	justify-content: space-between;
	display: flex;
	text-align: center;
	align-items: center;
}

.modify_buttons button {
	width: 100%;
	height: 50px;
	line-height: 45px;
	align-content: center;
	background: black;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	border-radius: 5px;
	margin-bottom: 30px;
}

.modify_login_join {
	display: flex;
	justify-content: space-between;
	width: 30%;
	float:right;
}

.modify_login_btn a {
	text-decoration: none;
	color:black;
	font-weight: bold;
	margin-right: 30px;
}

/*======================아이디결과 CSS======================*/

.findId_result_total {
	transform:translate(0%, 11%);
}

.result_top {
	border-bottom: 2px solid black;
}

.fa-circle-check {
	font-size: 100px;
	color: #32CD32;
}

.id_result_login_join {
	display: flex;
	justify-content: space-between;
	width: 30%;
	float:right;
}

.id_result_login_btn a {
	text-decoration: none;
	color:black;
	font-weight: bold;
	margin-right: 30px;
}

.id_result_buttons {
	justify-content: space-between;
	display: flex;
	text-align: center;
	align-items: center;
}

.id_result_buttons a {
	text-decoration:none;
	width: 100%;
	height: 50px;
	line-height: 50px;
	align-content: center;
	background: black;
	color: white;
	font-weight: bold;
	font-size: 1.35em;
	border-radius: 5px;
	margin-bottom: 30px;
}

.result_top {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.id_result_form > div:nth-of-type(1) > p {
	font-size: 1em;
	font-weight: 800;
	color: gray;
	text-align: center;
}

.id_result_form > div:nth-of-type(2) {
	padding: 20px;
	text-align: center;	
}

.id_result_form > div:nth-of-type(3) {
	text-align: center;
	margin-bottom: 30px;
}

.id_result_form > div:nth-of-type(3) > span:nth-of-type(1), span:nth-of-type(3) {
	font-weight: bold;
	color : gray;
}

.id_result_form > div:nth-of-type(3) > span:nth-of-type(2) {
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: underline;
}

/*======================매장근무기록CSS======================*/

/*======================boardList======================*/
.header {
	display: flex;
}

.home {
	line-height: 250px;
}

header .logo-img {
	width: 250px;
	margin: 20px auto;
}

.board-list-title {
	margin: 0px;
	font-size: 48px;
}

.board-table {
	width: 1000px;
	margin: 0 auto;
	border-collapse: collapse;
}

.board-table thead {
	background: #D9D9D9;
}

.board-table th, .board-table td {
	font-size: 30px;
	text-align: center;
}

.board-table tr {
	height: 50px;
}
/* 헤더 안에 사이드바 css 시작============================================*/
.box {
	width: 100px;
	height: 100px;
	border-radius: 70%;
	overflow: hidden;
	margin-top: 40px;
}

.profile {
	width: 100%;
	height: 100%;
	object-fit: cover;
	float: left;
}

.side-profile {
	list-style: none;
	display: flex;
	margin-left: 10px;
}

.side-profile div {
	float: left;
	font-size: 0.9rem;
}

.side-name {
	margin: auto;
}

.navbar {
	z-index: 999;
}

.side-logout {
	position: relative;
	right: 0px;
	bottom: 0px;
	font-size: 0.8rem;
	float: right;
	margin-bottom: 40px;
}

.side-logout a {
	text-decoration: none;
}



.profile-menu {
	list-style: none;
}

.profile-menu a {
	color: white;
}
.profile-menu a:hover{
	text-decoration: underline;	
}

.navbar-btn {
	border: none;
	background-color: white;
}

.nav-item a:hover {
	color: white;
}
.offcanvas-header{
	border: none;
	
}
.btn-close{
	color:white;
	
}
.bottom-image {
	bottom: 0; 
	right: 0;
	position: absolute;
}

.bottom-image img {
	width: 50px;
	height: 50px;
}

.acTapBtn {
	
	border: none;
	color: #fff;
}

.accordion-body {
	
	padding: 0;
}

.acBtn {
	
	border: none;
	color: #fff;
}

.acBtn:hover {
	
	background: #dfdfdf;
	color: #000;
}

.acABtn {
	
	font-size: 0.9rem;
}

.acABtn:hover {
	
	background: #606060;
	color: #000;
}

.acTapBtn > show {
	
	#fff;
}

.side-logout a:hover {
	
	text-decoration: underline;
	color: #696969;
}

/* 사이드바 끝==================================================== */

/*======================게시글 작성폼 CSS======================*/
.post-frm p {
	font-size: 36px;
}

.post-frm a {
	line-height: 36px;
}

.post-title {
	justify-content: space-between;
}

.post-title a {
	color: red;
	font-size: 36px;
}

.post-text textarea {
	height: 300px;
	font-size: 24px;
}

.reg-date {
	position: relative;
}

.reg-date p {
	font-size: 18px;
	opacity: 50%;
}

.post-btns {
	width: 240px;
	height: 60px;
	font-size: 36px;
	border-radius: 20px;
	background: #13223D;
	color: white;
}

.post-buttons {
	float: right;
}

/* boardForm */
.post-title label {
	font-size: 36px;
	margin: 10px;
}

.board-textarea {
	border: none;
}

/*boardComment*/
.comment-list-table {
	width: 1000px;
}

.comment-list tr td {
	font-size: 24px;
}

.input-comment {
	width: 700px;
	height: 300px;
}

.input-comment textarea {
	width: 700px;
}