<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
	<link th:href="@{/css/layout1.css}" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>공고목록</title>
<th:block layout:fragment="script">
	<script th:inline="javascript">
	// 매장선택 시 해당 매장정보 불러옴
	$(function() {
		
		$('.commute-sel-shop').off().on("change", function() {
			var shopId = $('.commute-sel-shop').val();
			var url = "/admin/job/list/" + shopId;
			$(location).attr('href', url);
		});
	});
	</script>
</th:block>

</head>
<body>
	<div layout:fragment="content">
		<div class="jobList-wrap">
			<div class="title fs-1 jobList_top" style="font-weight: bold; color: #13223D; border-bottom: 6px solid #fca211; margin-bottom: 20px;">
				<span>신청목록</span>
				<select class="info-sell-shop form-select w-100 my-2 commute-sel-shop" id="shopId">
					<option>매장을 선택하세요.</option>
					<th:block th:each="myShop : ${myShopList}" th:value="${myShop.shopDto.shopId}">
						<option th:value="${myShop.shopDto.shopId}" th:text="${myShop.shopDto.shopNm}"></option>
					</th:block>
				</select>
			</div>
			<div class="jobList-info">
				<div class="jobList">
					<th:block th:each="hires, status : ${hireDtoList}">
						<div class="list_info">
							<div class="list_info_one">
								<p>[[${hires.memberFormDto.userNm}]]</p>
							</div>
							<div class="list_info_two">
								<button type="button">보기</button>
							</div>
						</div>
					</th:block>
				</div>	
			</div>
		</div>
	</div>
	
</body>

</html>