<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/layout1}">
   <link th:href="@{/css/layout1.css}" rel="stylesheet">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>공고목록</title>
<th:block layout:fragment="script">
   <script th:inline="javascript">
      function deleteMapping(Id) {
         
         const deleteConf = confirm("삭제하시겠습니까?");
         
         if (!deleteConf) return;
         
         var token = $("meta[name='_csrf']").attr("content");
         var header = $("meta[name='_csrf_header']").attr("content");
         
         var url = "/job/opening/delete/" + Id;
         console.log(Id);
         
         $.ajax({
            
            url         : url,
            type       : "DELETE",
            contentType : "application/json",
            beforeSend    : function(xhr) {
               
               xhr.setRequestHeader(header, token)
            },
            dataType    :"Json",
            cache       : false,
            success    : function(result, status) {
               
               alert("목록이 삭제되었습니다.");
               location.href = '/admin/job/openingList';
            },
            error       : function(jqXHR, status, error) {
               if (jqXHR.status == '401') {
                  alert('로그인 후 이용하시오.');
                  location.href = '/member/login';
               } else {
                  alert(jqXHR.responseText);
               }
            }
         });
      }
      
      function nextPage() {
         var shopId = $('#shopId').val();
         
         location.href = "/admin/job/new/" + shopId;
      }
   </script>
</th:block>

</head>
<body>
   <div layout:fragment="content">
      <div class="jobPosting-wrap">
         <div class="title fs-1" style="font-weight: bold; color: #13223D; border-bottom: 6px solid #fca211; margin-bottom: 20px;">구인공고목록</div>
         <div class="title_t">현재 등록하신 구인공고 리스트 입니다.</div>
         <div class="jobPosting-info">
            <div class="jobPosting_list">
               <th:block th:each="hire, status : ${hireDtoList}">
                  <div class="posting_info">
                  <input id="shopId" type="hidden"  th:value="${hire.shopDto.shopId}" />
                     <div class="posting_info_one">
                        <p>[[${hire.shopDto.shopNm}]]</p>
                        <p>[[${hire.shopDto.shopPlace}]]</p>
                     </div>
                     <div class="posting_info_two">
                        <span>시급</span>
                        <span>[[${#numbers.formatInteger(hire.hirePay, 0, 'COMMA')}]]원</span>
                     </div>
                     <div class="posting_info_three">
                        <button type="button" onclick="nextPage()">보기</button>
                        <button type="button" th:value="${hire.Id}" onclick="deleteMapping(this.value)">삭제</button>
                     </div>
                  </div>
               </th:block>
            </div>   
         </div>
      </div>
   </div>
</body>

</html>
