<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>채용정보</title>

<th:block layout:fragment="css">
	<style>
.jobView-wrap {
	margin-top: 80px;
	font-size: 162.5%;
}



.posting-info {
   margin-top:30px;
   float: left;
}


.line {
   width: 100%;
   height: 2px;
   background: gray;
}

.dropdown-menu li {
   padding: 5px;
}

</style>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="jobView-wrap">
			<div class="title fs-1" style="font-weight: bold; color: #13223D; border-bottom: 6px solid #fca211; margin-bottom: 20px;">채용정보</div>
			<div class="title_t" style="font-size: 1.2rem;">지금 등록된 채용정보 입니다.</div>
		</div>

 
		<div class="jobViewList mx-auto" style="width:100%; justify-content: center;">
			<th:block th:each="hire, status : ${hireDtoList}">
				<div class="posting-info mx-auto" style="width: 50%;">
				
          <div class="row">
            <div class="col-sm-6">
             <div class="card"  style="margin-bottom: 20px;">
              <div class="card-body">
               <h5 class="card-title">[[${hire.shopDto.shopNm}]]</h5>
               <p class="card-text">[[${hire.shopDto.shopPlace}]]</p>
               <p class="card-text"><span>시급  </span>[[${hire.hirePay}]]</p>
         <div class="dropdown-center">
              <button class="btn btn-secondary" style="width: 100%; background-color: #13223D; margin-top: 10px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              공고보기</button>
          <ul class="dropdown-menu">
            <li><span style="color:#FCA211;">근무지 </span><br>[[${hire.shopDto.shopPlace}]]</li>
            <li><span style="color:#FCA211;">업/직종 </span><br>[[${hire.shopDto.shopType}]]</li>
            <li><span style="color:#FCA211;">시급 </span><br>[[${hire.hirePay}]]</li>
            <li><span style="color:#FCA211;">기간/요일 </span><br>[[${hire.hirePeriod}]]</li>
            <li><span style="color:#FCA211;">근무타임 </span><br>[[${hire.hireTime}]]</li>
            <li><span style="color:#FCA211;">전화번호 </span><br>[[${hire.hireNum}]]</li>
         </ul>
        </div>
      </div>
    </div>
  </div>
  </div>  
				</div>
				
			</th:block>
		</div>

	</div>
</body>

</html>