<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>매장공지</title>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			
			var errorMessage = [[${errorMessage}]];
			if (errorMessage != null) {
				
				alert(errorMessage);
			}
		});
		
		// 매장선택 시 해당 매장정보 불러옴
		$(function() {
			
			$('.noti-sel-shop').off().on("change", function() {
				
				var shopId = $('.noti-sel-shop').val();
				
				var url = "/shop/info/" + shopId;
				
				$(location).attr('href', url);
			});
		});
			
		// 좋아요 insert
		
		$(function() {
			
			$('#noti-like').off().on("click", function() {
				
				var token = $("meta[name='_csrf']").attr("content");	/* content 어트리뷰트를 토큰값에 넣어서 가져온다? */
				var header = $("meta[name='_csrf_header']").attr("content");
				
				var shopId = $('#shopId').val;
				var url = "/shop/info/like/" + shopId;
				var noticeId = $('#noti-like').val();
				
				var paramData = {
						
						noticeId : noticeId
				};
				
				var param = JSON.stringify(paramData);
				
				$.ajax({
					url			: url,
					type		: "POST",
					contentType : "application/json",
					data		: param,
					beforeSend	: function(xhr) {
						/* 데이터 전송 전에 헤더에 csrf 값을 설정 */
						xhr.setRequestHeader(header, token);
					},
					dataType	: "json",
					cache		: false,
					success		: function(result, status) {
						
						location.href = '/shop/info/' + shopId;
					},
					error		: function(jqXHR, status, error) {
						
						if (jqXHR.status == '401') {
							
							alert('로그인 후 이용하시오.');
							location.href = '/members/login';
						} else {
							
							alert(jqXHR.responseText);
						}
					}
				});
	        }
			});
		});
		
		// TODO : 수정버튼 confirm true일 경우 공지id 가지고 와서 select > id랑 내용 가져오고 해당 위치에 내보낸다.
		
		// TODO : 수정했을때 그안에 있는 val값들 ajax로 보내고 id는 경로에 태우고 update
	</script>
</th:block>
<!-- 사용자 CSS 추가 --> 
<th:block layout:fragment="css">
     <style>
    	 .noti-sel-shop {
    	 	
    	 	border-radius: 5px;
    	 	border: 1px solid #A9A9A9;
    	 }
	</style>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-lg d-flex flex-column text-center noti-wrap">
		
			<form class="noti-form my-4 mx-auto" action="/shop/info" method="post" th:object="${noticeDto}">
				<div class="mx-auto ps-2 my-2 d-flex justify-content-between">
					<a class="noti-title text-start fs-3 fw-bold">매장공지</a>
					<!-- TODO : 현재 접속한 회원id로 매장list를 뽑아와서 셀렉트 옵션에 넣어줌 -->
					<select class="noti-sel-shop fs-6 px-2 me-2" th:field="*{shopDto.ShopId}" id="shopId">
						<option value="">매장선택</option>
						<th:block th:each="myShop : ${myShopList}" th:value="${myShop.shopDto.ShopId}">
							<option th:value="${myShop.shopDto.ShopId}" th:text="${myShop.shopDto.shopNm}"></option>
						</th:block>
					</select>
				</div>
				<!-- create부분  sec:authorize="hasAnyAuthority('ROLE_ADMIN')" -->
				<div class="mx-auto">
					<div class="row notice mx-auto my-2">
						<div class="col-2 p-2 align-middle">
							<img class="my-auto profile-img" alt="profile" src="/images/profile01.png">
						</div>
						<textarea class="col-8 py-2 ps-2 notice-ipt" th:field="*{noticeCont}" placeholder="공지사항 작성"></textarea>
						<p th:if="${#fields.hasErrors('noticeCont')}" th:errors="*{noticeCont}" class="fieldError text-start">Incorrect Data</p>
						<button type="submit" class="col-2 notice-icon fs-3">
							<i class="fa-sharp fa-solid fa-file-pen"></i>
						</button>
					</div>
				</div>
				
				<!-- read부분 -->
				<div class="mx-auto" th:if="${not #lists.isEmpty(notiList)}" th:each="noti : ${notiList}">
					<!-- 프로필부분 -->
					<div class="mx-auto row py-3">
						<div class="col-2 my-auto">
							<img class="profile-cont-img" alt="profile" src="/images/profile01.png">
						</div>
						
						<div class="col-8 text-start d-flex flex-column">
							<div class="mt-auto text-bottom fs-5 fw-bold" id="managerNm" th:text="${noti.MemberFormDto.userNm}">내일</div>
							<div class="mb-auto text-top" style="color: #A6A6A6;" id="managerId" th:text="'@' + ${noti.MemberFormDto.userId}">@tomorrow</div>
						</div>
						
						<a class="col-2 text-end" style="color: #000; cursor: pointer;"><i class="fa-solid fa-ellipsis-vertical"></i></a>
					</div>
					<!-- 내용부분 -->
					<div class="text-start py-3 px-5" th:text="${noti.noticeCont}">내용</div>
					<!-- 하단부분 -->
					<div class="d-flex py-3 fs-6 justify-content-between mx-auto">
						<div class="row pt-auto">
							<a class="col-5 text-end" th:value=${noti.noticeId} id="noti-like" style="color: red; cursor: pointer;"><i class="fa-regular fa-heart"></i></a>
							<span class="col-7 text-start" th:text="${#lists.size(noti.noticeLikeDto)} + '명'">1명</span>
						</div>
						<div class="pt-auto" th:text="${#temporals.format(noti.regTime, 'yyyy-MM-dd HH:mm')}">
							23-02-12
						</div>
					</div>
					<hr>
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			</form>
			
		</div>
	</div>
</body>
</html>
