<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>매장공지</title>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			
			var errorMessage = [[${errorMessage}]];
			if (errorMessage != null) {
				
				alert(errorMessage);
			}
		});
		
		// TODO : select에서 선택한 매장id를 받아서 매장id를 가지고 있는 공지내용List를 가져온다. ajax
		
		// TODO : 수정버튼 confirm true일 경우 공지id 가지고 와서 select > id랑 내용 가져오고 해당 위치에 내보낸다.
		
		// TODO : 수정했을때 그안에 있는 val값들 ajax로 보내고 id는 경로에 태우고 update
	</script>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-lg d-flex flex-column text-center noti-wrap">
		
			<form class="noti-form my-4 mx-auto" action="/shop/info" method="post" th:object="${noticeDto}">
				<div class="noti-title mx-auto text-start fs-3 fw-bold ps-2 my-2">
					<a>매장공지</a>
					<!-- TODO : 현재 접속한 회원id로 매장list를 뽑아와서 셀렉트 옵션에 넣어줌 -->
				</div>
				<!-- create부분  sec:authorize="hasAnyAuthority('ROLE_ADMIN')" -->
				<div class="mx-auto">
					<div class="row notice mx-auto my-2">
						<div class="col-2 p-2 align-middle">
							<img class="my-auto profile-img" alt="profile" src="/images/profile01.png">
						</div>
						<textarea class="col-8 py-2 ps-2 notice-ipt" th:field="*{noticeCont}" placeholder="공지사항 작성"></textarea>
						<button type="submit" class="col-2 notice-icon fs-3">
							<i class="fa-sharp fa-solid fa-file-pen"></i>
						</button>
					</div>
				</div>
				
				<!-- read부분 -->
				<div class="mx-auto">
					<!-- 프로필부분 -->
					<div class="mx-auto row py-3">
						<div class="col-2 my-auto">
							<img class="profile-cont-img" alt="profile" src="/images/profile01.png">
						</div>
						
						<div class="col-8 text-start d-flex flex-column">
							<div class="mt-auto text-bottom fs-5 fw-bold">내일</div>
							<div class="mb-auto text-top" style="color: #A6A6A6;">@tomorrow</div>
						</div>
						
						<a class="col-2 text-end" style="color: #000; cursor: pointer;"><i class="fa-solid fa-ellipsis-vertical"></i></a>
					</div>
					<!-- 내용부분 -->
					<div class="text-start py-3 px-5">내용</div>
					<!-- 하단부분 -->
					<div class="d-flex py-3 fs-6 justify-content-between mx-auto">
						<div class="row pt-auto">
							<a class="col-5 text-end" style="color: red; cursor: pointer;"><i class="fa-regular fa-heart"></i></a>
							<span class="col-7 text-start">1명</span>
						</div>
						<div class="pt-auto">
							23-02-12
						</div>
					</div>
					<hr>
				</div>
				<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
			</form>
			
		</div>
	</div>
</body>
</html>



<!-- 

				<div class="mx-auto" th:if="${##lists.isEmpty(getNoticeList)}" th:each="notice : ${getNoticeList}">
					<div class="mx-auto row py-3">
						<div class="col-2 my-auto">
							<img class="profile-cont-img" alt="profile" src="/images/profile01.png">
						</div>
						
						<div class="col-8 text-start d-flex flex-column">
							<div class="mt-auto text-bottom fs-5 fw-bold" th:text="${notice.managerDto.userNm}">내일</div>
							<div class="mb-auto text-top" th:text="'@' + ${notice.managerDto.userId}" style="color: #A6A6A6;">@tomorrow</div>
						</div>
						
						<a class="col-2 text-end" style="color: #000; cursor: pointer;"><i class="fa-solid fa-ellipsis-vertical"></i></a>
					</div>
					<div class="text-start py-3 px-5" th:text="${notice.noticeCont}">내용</div>
					<div class="d-flex py-3 fs-6 justify-content-between mx-auto">
						<div class="row pt-auto">
							<a class="col-5 text-end" style="color: red; cursor: pointer;"><i class="fa-regular fa-heart"></i></a>
							<span class="col-7 text-start" th:text="${notice.likeNoti} + '명'">1명</span>
						</div>
						<div class="pt-auto" th:text="${notice.regTime}">
						</div>
					</div>
					<hr>
				</div>

 -->